<form [formGroup]="taskForm">
  <div class="flex flex-col text-center">
    <label class="mt-5 text-2xl font-bold text-cyan-950">Add New Task!</label>
    <input class="mt-5 mx-2 p-5 rounded-md border border-cyan-950" id="taskInput" formControlName="name" type="text"
      placeholder="To do ...">
    <div class="mt-2 text-red-900 font-semibold">
      @if (taskForm.controls['name'].touched) {
      @if (taskForm.controls['name'].errors?.['required']){
      <span>Task details are required!</span>
      } @else if (taskForm.controls['name'].errors?.['minlength']){
      <span>Minimum length for a task is 3 letters</span>
      } @else if (taskForm.controls['name'].errors?.['maxlength']){
      <span>Maximum length for a task is 200 letters</span>
      }
      }
    </div>
    <div class="text-center">
      <button class="cursor-pointer mt-3 px-5 py-2 rounded-md text-white bg-cyan-950 hover:bg-cyan-900" type="submit"
        [disabled]="taskForm.invalid" (click)="onSave()">
        <i class="pi pi-plus-circle"></i>
        <span class="font-semibold ms-2">Add Task</span>
      </button>
    </div>
  </div>
</form>